set default="0"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio

set timeout=300

menuentry 'Exit' {
  exit
}

menuentry 'Fedora 34 (Everything ISO, via LAN)' --class fedora --class gnu-linux --class gnu --class os {
  linuxefi f34/vmlinuz ip=dhcp inst.repo=http://10.10.10.1/sites/dl.fedoraproject.org/pub/fedora/linux/releases/34/Everything/x86_64/os/
  initrdefi f34/initrd.img
}

menuentry 'Fedora Silverblue 34 (via LAN)' --class fedora --class gnu-linux --class gnu --class os {
  linuxefi f34/vmlinuz ip=dhcp inst.repo=http://10.10.10.1/sites/dl.fedoraproject.org/pub/fedora/linux/releases/34/Silverblue/x86_64/os/
  initrdefi f34/initrd.img
}
