---
repos:
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: ansible-lint
        language: system
        types: [yaml]
        args: ["."]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: ^.*\.sh$

      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        args: ["."]
