set default="0"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio

set timeout=600

menuentry 'Exit' {
  exit
}

menuentry 'Fedora 35 Beta (Everything ISO, Kickstartable)' --class fedora --class gnu-linux --class gnu --class os {
  linuxefi f35b/vmlinuz ip=dhcp inst.repo=https://www.mirrorservice.org/sites/dl.fedoraproject.org/pub/fedora/linux/releases/test/35_Beta/Everything/x86_64/os/
  initrdefi f35b/initrd.img
}

menuentry 'Fedora Silverblue 35 Beta' --class fedora --class gnu-linux --class gnu --class os {
  linuxefi f35b/vmlinuz ip=dhcp inst.repo=https://www.mirrorservice.org/sites/dl.fedoraproject.org/pub/fedora/linux/releases/test/35_Beta/Silverblue/x86_64/os/
  initrdefi f35b/initrd.img
}

menuentry 'Fedora 34 (Everything ISO, Kickstartable)' --class fedora --class gnu-linux --class gnu --class os {
  linuxefi f34/vmlinuz ip=dhcp inst.repo=https://www.mirrorservice.org/sites/dl.fedoraproject.org/pub/fedora/linux/releases/34/Everything/x86_64/os/
  initrdefi f34/initrd.img
}

menuentry 'Fedora Silverblue 34' --class fedora --class gnu-linux --class gnu --class os {
  linuxefi f34/vmlinuz ip=dhcp inst.repo=https://www.mirrorservice.org/sites/dl.fedoraproject.org/pub/fedora/linux/releases/34/Silverblue/x86_64/os/
  initrdefi f34/initrd.img
}
