set default="0"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio

set timeout=300

menuentry 'Exit' {
  exit
}

menuentry 'Red Hat Enterprise Linux 8.4 (via LAN)' --class redhat --class gnu-linux --class gnu --class os {
  linuxefi rhel8_4/vmlinuz ip=dhcp inst.repo=http://10.10.10.1/tools/rhel-mounted/
  initrdefi rhel8_4/initrd.img
}
