set default="0"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio

set timeout=300

menuentry 'Exit' {
  exit
}

menuentry "Ubuntu Desktop (Focal 20.04.2, via LAN)" {
  set gfxpayload=keep
  linux ubuntu2004/vmlinuz url=http://10.10.10.1/sites/releases.ubuntu.com/focal/ubuntu-20.04.2.0-desktop-amd64.iso ip=dhcp ---
  initrd ubuntu2004/initrd
}

menuentry "Ubuntu Live Server (Focal 20.04.2, via LAN)" {
  set gfxpayload=keep
  linux ubuntu2004/vmlinuz url=http://10.10.10.1/sites/releases.ubuntu.com/focal/ubuntu-20.04.2-live-server-amd64.iso ip=dhcp ---
  initrd ubuntu2004/initrd
}
